<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="goToStepTask()" shape="round">Tarea por pasos</ion-button>
  <ion-button (click)="goToMenuTask()" shape="round">Tarea de comanda</ion-button>
  <ion-button (click)="goToMaterialTask()" shape="round">Tarea de material</ion-button>
  <ion-button (click)="goToCreateUser()" shape="round">Crear usuario alumno</ion-button>
  <ion-button (click)="goToCreateMenu()" shape="round">Editar menús</ion-button>
</ion-content>