<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-list"></ion-back-button> <!-- Ajusta la ruta si es necesario -->
    </ion-buttons>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="goToStepTask()" shape="round">Tarea por pasos</ion-button>
  <ion-button (click)="goToMenuTask()" shape="round">Tarea de comanda</ion-button>
  <ion-button (click)="goToMaterialTask()" shape="round">Tarea de material</ion-button>
  <ion-button (click)="goToCreateUser()" shape="round">Crear usuario alumno</ion-button>
  <ion-button (click)="goToDeleteMenu()" shape="round">Eliminar Menu</ion-button>
</ion-content>
