<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/perfil-admin-profesor" 
        aria-label="Volver al perfil de administrador o profesor">
      </ion-back-button>
    </ion-buttons>
    <ion-title>CREAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-grid>
      <h2>Nombre y usuario</h2>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input 
              placeholder="Nombre" 
              type="text" 
              [(ngModel)]="nombre" 
              aria-label="Campo para ingresar el nombre del usuario">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input 
              placeholder="Usuario" 
              type="text" 
              [(ngModel)]="usuario" 
              aria-label="Campo para ingresar el nombre de usuario">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Imagen de Perfil</ion-label>
            <div class="image-preview-container">
              <img 
                *ngIf="profileImageUrl" 
                [src]="profileImageUrl" 
                alt="Vista previa de la imagen de perfil" 
                class="profile-image-preview">
            </div>
            <ion-button expand="block" (click)="triggerProfileImageInput()" aria-label="Subir imagen de perfil">
              Cargar Imagen
            </ion-button>
            <input 
              type="file" 
              id="profileImageInput" 
              accept="image/*" 
              (change)="onProfileImageSelected($event)" 
              aria-label="Seleccionar una imagen de perfil" 
              hidden>
          </ion-item>
        </ion-col>
      </ion-row>
      

      <ion-row>
        <ion-col size="12">
          <ion-text class="ion-padding-top">
            <h3>Selección del Nivel de Accesibilidad:</h3>
          </ion-text>
          
          <ion-radio-group [(ngModel)]="nivelAccesibilidad" aria-labelledby="nivelAccesibilidadGroup">
            <ion-item>
              <ion-label>Texto</ion-label>
              <ion-radio slot="start" value="Texto" aria-label="Seleccionar accesibilidad por texto"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Audio</ion-label>
              <ion-radio slot="start" value="Audio" aria-label="Seleccionar accesibilidad por audio"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Video</ion-label>
              <ion-radio slot="start" value="Video" aria-label="Seleccionar accesibilidad por video"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Imágenes</ion-label>
              <ion-radio slot="start" value="Imagen" aria-label="Seleccionar accesibilidad por imágenes"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Pictogramas</ion-label>
              <ion-radio slot="start" value="Pictograma" aria-label="Seleccionar accesibilidad por pictogramas"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      

      <h2>Contraseña</h2>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="Seleccione tipo de contraseña" [(ngModel)]="tipoContrasena">
              <ion-select-option value="PIN">Pin numérico</ion-select-option>
              <ion-select-option value="Pictograma">Pictogramas</ion-select-option>
              <ion-select-option value="Texto">Texto</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <!-- Sección de Contraseña de Texto -->
      <ion-row *ngIf="tipoContrasena === 'Texto'">
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input 
              id="textPasswordInput"
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="Ingrese su contraseña" 
              [(ngModel)]="contrasena">
            </ion-input>
            <ion-icon 
              class="eye-icon"
              id="toggleTextPasswordIcon"
              slot="end"
              [name]="passwordVisible ? 'eye' : 'eye-off'"
              (click)="toggleTextPasswordVisibility()">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Sección de Pin numérico -->
      <ion-row *ngIf="tipoContrasena === 'PIN'">
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Introduzca su Pin</ion-label>
            <ion-input type="number" placeholder="1234" required [(ngModel)]="contrasena"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <!-- Sección de imágenes, visible solo para pictogramas -->
      <div *ngIf="tipoContrasena === 'Pictograma'">
        <div class="image-selection">
          <div class="image-row">
            <ng-container *ngFor="let imageUrl of selectedImageUrls; let i = index">
              <div class="image-container" *ngIf="i < 3"> <!-- Muestra las primeras 3 imágenes -->
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen {{ i + 1 }}">
                <ion-checkbox 
                  [checked]="selectedForPassword[i]" 
                  [disabled]="isCheckboxDisabled(i)" 
                  (ionChange)="onCheckboxChange(i)">
                </ion-checkbox>
              </div>
            </ng-container>
          </div>
          <div class="image-row">
            <ng-container *ngFor="let imageUrl of selectedImageUrls; let i = index">
              <div class="image-container" *ngIf="i >= 3 && i < 6"> <!-- Muestra las siguientes 3 imágenes -->
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen {{ i + 1 }}">
                <ion-checkbox 
                  [checked]="selectedForPassword[i]" 
                  [disabled]="isCheckboxDisabled(i)" 
                  (ionChange)="onCheckboxChange(i)">
                </ion-checkbox>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Sección para mostrar los pictogramas seleccionados en orden -->
<div *ngIf="selectedImagesOrder.length > 0">
  <h3>Pictogramas seleccionados:</h3>
  <div class="selected-images">
    <div *ngFor="let imageUrl of selectedImagesOrder; let i = index" class="selected-image-container">
      <img [src]="imageUrl" alt="Pictograma seleccionado {{ i + 1 }}" class="selected-image">
    </div>
  </div>
</div>

      <!-- Botones Guardar -->
      <ion-row>
        <ion-col size="12" class="ion-text-right">
          <ion-button (click)="guardarPerfil()">GUARDAR</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
