<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dentro"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-grid>
    <h2>Nombre y usuario</h2>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder="Nombre" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input placeholder="Usuario" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-padding-top">
          <h3>Selección del Nivel de Accesibilidad:</h3>
        </ion-text>

        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="accessibilityLevel.texto"></ion-checkbox>
          <ion-label>Texto</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="accessibilityLevel.audio"></ion-checkbox>
          <ion-label>Audio</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="accessibilityLevel.video"></ion-checkbox>
          <ion-label>Video</ion-label>
        </ion-item>

        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="accessibilityLevel.pictogramas"></ion-checkbox>
          <ion-label>Pictogramas</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <ion-grid>
      <h2>Nombre y usuario</h2>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input placeholder="Usuario" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-text class="ion-padding-top">
            <h3>Selección del Nivel de Accesibilidad:</h3>
          </ion-text>
          
          <ion-radio-group [(ngModel)]="accessibilityLevel">
            <ion-item>
              <ion-label>Texto</ion-label>
              <ion-radio slot="start" value="texto"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Audio</ion-label>
              <ion-radio slot="start" value="audio"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Video</ion-label>
              <ion-radio slot="start" value="video"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Pictogramas</ion-label>
              <ion-radio slot="start" value="pictogramas" checked></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <h2>Contraseña</h2>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="Seleccione tipo de contraseña" [(ngModel)]="passwordType">
              <ion-select-option value="pin">Pin numérico</ion-select-option>
              <ion-select-option value="pictogramas">Pictogramas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Sección de Pin numérico -->
      <ion-row *ngIf="passwordType === 'pin'">
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Introduzca su Pin</ion-label>
            <ion-input type="number" placeholder="1234" maxlength="4"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Sección de Contraseña con Pictogramas -->
      <ion-row *ngIf="passwordType === 'pictogramas'">
        <ion-col size="12">
          <ion-text class="ion-padding-top">
            <h3>Cargar Imágenes como Contraseña:</h3>
          </ion-text>
        </ion-col>

        <!-- Botones para cargar hasta 6 imágenes -->
        <ion-col size="4" *ngFor="let imageUrl of selectedImageUrls; let i = index">
          <ion-card>
            <ion-card-content>
              <!-- Muestra la imagen si existe en selectedImageUrls -->
              <ion-img [src]="imageUrl" *ngIf="imageUrl"></ion-img>
              <h1 *ngIf="!imageUrl">Imagen {{ i + 1 }}</h1>

              <!-- Input file asociado a cada botón de carga de imagen -->
              <input type="file" (change)="onFileSelected($event, i)" hidden #fileInput />
              <ion-button (click)="triggerFileInput(i)" [disabled]="selectedImages[i] !== null">Cargar Imagen</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-text>
            <h3>Selecciona las 3 imágenes para la contraseña:</h3>
            <div *ngFor="let image of selectedImageUrls; let i = index">
              <ion-checkbox slot="start" [(ngModel)]="selectedForPassword[i]" (ionChange)="onCheckboxChange(i)"
                [disabled]="isCheckboxDisabled(i)">
              </ion-checkbox>
              <ion-label>{{ imageNames[i] ? imageNames[i] : 'Vacía' }}</ion-label>
            </div>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-text>
            <h3>Contraseña seleccionada:</h3>
            <p>{{ password }}</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Botones Guardar -->
      <ion-row>
        <ion-col size="12" class="ion-text-right">
          <ion-button color="secondary" (click)="guardarPerfil()">Guardar</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
