ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.userLoginPin, .userLoginTexto {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Asegúrate de que ocupe toda la altura del viewport */
}

ion-item {
    --background: #f0f0f5;
    margin: 24px;
    border-radius: 24px;
    width: 500px;
    font-size: 24px;
}

ion-icon{
    margin: 8px;
}

ion-button {
    --background: #005682; // Cambia el color de fondo
    --color: #fff; // Cambia el color del texto
    font-size: 24px;
    height: 75px;
}

ion-item:hover{
    border: 1px solid #005682;
}

.userLoginTexto ion-input{
    margin-left: 6px;
}

.userLoginTexto ion-label{
    font-size: 18px;
}

.userLoginPictograma {
    margin-left: 5%;
    margin-right: 5%;
}

.pictogram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  
    img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ajusta la imagen para que se vea completa dentro del botón */
        border-radius: 8px; /* Opcional: ajusta las esquinas de la imagen */
    }
}

.indicator-container {
    display: flex;
    justify-content: center; /* Centra los puntos en el contenedor */
    gap: 64px; /* Ajusta el espacio entre puntos */
    margin-top: 16px; /* Opcional: separa los puntos de otros elementos */
}

.indicator {
    width: 125px;
    height: 100px;
    background-color: rgb(204, 204, 204); /* Color de punto inicial */

    img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ajusta la imagen para que se vea completa dentro del botón */
        border-radius: 8px; /* Opcional: ajusta las esquinas de la imagen */
    }
}

.cross-overlay {
    color: red;
    font-size: 100px; /* Ajusta el tamaño según sea necesario */
    pointer-events: none; /* Evita que interfiera con el clic en la imagen */
}

.check-overlay {
    color: green;
    font-size: 100px; /* Ajusta el tamaño según sea necesario */
    pointer-events: none; /* Evita que interfiera con el clic en la imagen */
}

.incorrectPassword {
    display: block;
    justify-content: center;
    text-align: center;
    color: red;
    font-size: 32px;
    img {
        width: 70px;
        height: 70px;
    }

    p {
        margin-top: 5%;
        margin-bottom: 0;
    }
}