<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-list"></ion-back-button> <!-- Ajusta la ruta si es necesario -->
    </ion-buttons>
    <ion-title>{{ user.nombre | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="userLoginPin" *ngIf="isPIN">
    <form id="formLoginPIN">

      <ion-item id="item-pin" class="input-item">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label position="start">PIN</ion-label>
        <ion-input id="pinLogin" type="number" [disabled]="false" placeholder="INTRODUCE TU PIN"></ion-input>
      </ion-item>
  
      <ion-button expand="block" shape="round" (click)="onSubmitPass()">ENTRAR</ion-button>

      <div [ngClass]="{'ion-hide': !isPasswordIncorrect}" class="incorrectPassword">
        <p>VUELVE A INTENTARLO</p>
        <img [src]="'https://cdn.pixabay.com/photo/2017/02/12/21/29/false-2061132_640.png'" alt="Contreaseña Incorrecta" />
      </div>
  
    </form>
  </div>

  <div class="userLoginTexto" *ngIf="isTexto">
    <form id="formLoginTexto">

      <ion-item id="item-texto" class="input-item">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label position="start">CONTRASEÑA</ion-label>
        <ion-input id="textoLogin" type="text" [disabled]="false" placeholder="INTRODUCE TU CONTRASEÑA"></ion-input>
      </ion-item>
  
      <ion-button expand="block" shape="round" (click)="onSubmitPass()">ENTRAR</ion-button>

      <div [ngClass]="{'ion-hide': !isPasswordIncorrect}" class="incorrectPassword">
        <p>VUELVE A INTENTARLO</p>
        <img [src]="'https://cdn.pixabay.com/photo/2017/02/12/21/29/false-2061132_640.png'" alt="Contreaseña Incorrecta" />
      </div>
  
    </form>
  </div>

  <div class="userLoginPictograma" *ngIf="isPictograma">
    <form id="formLoginPictograma">

      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let image of images; let i = index">
            <ion-button class="pictogram" (click)="selectButton(i)">
              <img [src]="image" />
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Indicadores que muestran la imagen seleccionada -->
      <div class="indicator-container">
        <div *ngFor="let indicator of indicators; let i = index" class="indicator">
          <img [src]="indicator" />
          
          <!-- Mostrar la cruz solo si incorrectPictogram[i] es true -->
          <ion-icon *ngIf="incorrectPictogram[i] == 1" name="close-outline" class="cross-overlay"></ion-icon>
          <ion-icon *ngIf="incorrectPictogram[i] == 0" name="checkmark-outline" class="check-overlay"></ion-icon>
        </div>
      </div>
      
    </form>
  </div>
</ion-content>