ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.profile-section {
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
}

.profile-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor */
    border: 2px solid #005682; /* Añade un borde de color */
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.profile-info h2 {
    font-size: 32px;
    margin: 20;
}

.profile-info p {
    margin: 12px 0;
    font-size: 24px;
    color: #555;
}

.user-type {
    font-weight: bold;
    color: #005682; /* Resalta el tipo de usuario */
}

.divider {
    width: 100%; /* Ocupa todo el ancho del contenido */
    height: 2px; /* Grosor de la línea */
    background-color: #ccc; /* Color de la línea */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.admin-profe-functions {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten si exceden el espacio */
    gap: 50px; /* Espaciado entre columnas */
}

.users-buttons ion-button {
    margin-bottom: 30px;
    font-size: 16px;
    --background: #606a6e; // Cambia el color de fondo
    --color: #fff; // Cambia el color del texto
}

.tasks-buttons ion-button {
    margin-bottom: 30px;
    font-size: 16px;
    --background: #406679; // Cambia el color de fondo
    --color: #fff; // Cambia el color del texto
}

.options-buttons ion-button {
    margin-bottom: 30px;
    font-size: 16px;
    --background: #005682; // Cambia el color de fondo
    --color: #fff; // Cambia el color del texto
}
  
.admin-profe-functions ion-col {
    max-width: 25%; /* 25% del ancho para que coincida con size="3" */
    flex: 0 0 auto; /* Asegura que las columnas no se expandan automáticamente */
}

ion-badge {
    --background: #ff4c4c;
    --color: #ffffff;
    margin-left: 20px;
    font-size: 20px;
}
