:root {
    --font-family: 'Helvetica';
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-header {
    background-color: #ffffff;
    color: #005682;
    padding: 1rem;
}

ion-title {
    font-size: 1.5rem;
    color: #005682;
    margin-bottom: 0.5rem;
}

ion-button {
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

ion-icon {
    color: #005682;
}

ion-icon.icon-add {
    color: #FFFFFF;
}

ion-content {
    background-color: #FFFFFF;
    padding: 2rem;
}

ion-item {
    background: #FFFFFF;
    color: #005682;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

ion-input {
    color: #005682;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 8px;
}

input {
    color: #005682;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 8px;
}

ion-button.add-step-text-button {
    --background: #005682;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}

ion-tab-bar {
    color: #005682;
    background: #FFFFFF;
    padding: 0.5rem 0;
}

ion-tab-button {
    color: #005682;
    padding: 1rem;
    font-size: 1.2rem;
}

ion-label {
    font-size: 1.5rem;
}

ion-icon {
    font-size: 2rem;
}

ion-button.button-active {
    --background: #005682;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
}

ion-button.button-inactive {
    --background: white;
    color: #005682;
    border: 3px solid #005682;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
}

ion-button.save-button {
    --background: #005682;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 8px;
}





ion-grid {
    margin-top: 1rem;
    width: 100%;
}

ion-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    /* S'assurer que le row prend toute la largeur */
}

ion-col {
    flex: 1;
    /* Les colonnes occupent une largeur égale */
    padding: 1rem;
    text-align: center;
    min-width: 150px;
    /* Minimum width pour les colonnes, pour éviter qu'elles deviennent trop petites */
}

/* Styles pour les en-têtes de colonne */
.column-header {
    font-size: 1.4rem;
    color: #005682;
    font-weight: bold;
    padding: 1rem;
    //text-transform: uppercase;
    //background-color: #f0f4f8;
    //border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    //border: 1px solid #ddd;
}

/* Ajuster l'espacement global entre les colonnes */
ion-col.size-4 {
    padding: 1rem;
    text-align: center;
    min-width: 180px;
    /* Largeur minimum des colonnes */
}