<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/realizar-tarea-principal" 
        [attr.aria-label]="'Volver a la agenda'">
      </ion-back-button>
    </ion-buttons>
    <ion-row class="header-row">
      <ion-col size="auto">
        <ion-title class="title" id="tarea-title">{{ tarea.nombre | uppercase }}</ion-title>
      </ion-col>
      <ion-col size="auto" class="image-col">
        <img 
          [src]="tarea.previewUrl" 
          alt="Pictograma de previsualización de la tarea {{ tarea.nombre }}" 
          class="tarea-preview-image" 
          aria-labelledby="tarea-title"
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Tarea por pasos -->
  <div *ngIf="nivelAccesibilidad != 'Audio' && tipoTarea == 'tarea-por-pasos' && !finTarea">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="text-container">
          <img 
            *ngIf="nivelAccesibilidad == 'Pictograma'" 
            [src]="tarea.pasosPicto[currentPage]" 
            alt="Pictograma del paso {{ currentPage + 1 }}" 
            class="task-image" 
            [attr.aria-label]="'Pictograma del paso ' + (currentPage + 1 )"
          />
          <img 
            *ngIf="nivelAccesibilidad == 'Imagen'" 
            [src]="tarea.pasosImagenes[currentPage]" 
            alt="Imagen del paso {{ currentPage + 1 }}" 
            class="task-image" 
            [attr.aria-label]="'Imagen del paso '+ (currentPage + 1) "
          />
          
          <div *ngIf="nivelAccesibilidad == 'Video'">
            <video 
              [src]="tarea.pasosVideos[currentPage]"
              class="task-video" 
              #videoPlayer
              [attr.aria-label]="'Video del paso '+ (currentPage + 1)"
              (click)="togglePlay(videoPlayer, currentPage)">
            </video>
  
            <button 
              class="play-button" 
              [class.hidden]="!showPlayButton[currentPage]" 
              (click)="togglePlay(videoPlayer, currentPage)"
              [attr.aria-label]="'Reproducir video del paso ' + (currentPage + 1)">
              <ion-icon name="play-outline"></ion-icon>
            </button>
          </div> 

          <p class="task-text" [attr.aria-live]="'polite'"  [attr.aria-label]="'Paso ' + (currentPage + 1) + ': '  + tarea.pasosTexto[currentPage]">
            {{ tarea.pasosTexto[currentPage] | uppercase }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Audio completo -->
  <div *ngIf="nivelAccesibilidad == 'Audio' && tipoTarea == 'tarea-por-pasos' && !finTarea">
    <ion-grid>
      <ion-row>
        <ion-col class="text-container">
          <ion-button 
            *ngIf="!finTarea" 
            (click)="toggleAudio(audioElement)"
            class="audio-button"
            [attr.aria-label]="'Reproducir audio completo de la tarea'">
            <ion-icon class="volume-icon" name="volume-high" size="large"></ion-icon> 
          </ion-button>  
          <audio #audioElement [src]="tarea.audioCompletoUrl"></audio>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Tarea comanda -->
  <ion-grid *ngIf="tipoTarea === 'tarea-comanda' && !finTarea" style="text-align: center;">
    <ion-row *ngFor="let menu of paginatedUsers; let i = index" class="container-row">
      <ion-col>
        <p class="item-title" [attr.aria-label]="'Nombre del menú: ' + menu.nombre | uppercase">
          {{ menu.nombre | uppercase }}
        </p>
      </ion-col>
      <ion-col *ngIf="nivelAccesibilidad != 'Texto' && nivelAccesibilidad != 'Audio'">
        <img [src]="menu.image.url" alt="Imagen del menú {{ menu.nombre }}" class="menu-image" />
      </ion-col>
      <ion-col>
        <div class="menu-controls">
          <button class="numButton" (click)="decrementar(i)" [attr.aria-label]="'Disminuir cantidad de ' + menu.nombre">
            -
          </button>
          <span class="numBox" [attr.aria-label]="'Cantidad actual de ' + menu.nombre">
            {{ menu.num }}
          </span>
          <button class="numButton" (click)="aumentar(i)" [attr.aria-label]="'Aumentar cantidad de ' + menu.nombre">
            +
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Finalizar tarea -->
  <ion-grid *ngIf="finTarea">
    <ion-row>
      <ion-col size="12" class="image-container">
        <ion-button 
          *ngIf="tipoTarea != 'tarea-comanda'"
          (click)="tareaTerminada(tarea, '/agenda')"
          class="finish-task-button"
          [attr.aria-label]="'Terminar la tarea ' + tarea.nombre">
          <div class="button-content">
            <img *ngIf="nivelAccesibilidad != 'Texto' && nivelAccesibilidad != 'Audio'" [src]="imageOk" alt="Imagen indicando éxito" class="task-image"/>
            <span>TERMINAR TAREA</span>
          </div>
        </ion-button>
        <ion-button 
          *ngIf="tipoTarea == 'tarea-comanda'"
          (click)="guardarComanda(tarea, '/realizar-tarea-principal')"
          class="finish-task-button"
          [attr.aria-label]="'Guardar la comanda de la clase ' + aula">
          <div class="button-content">
            <img *ngIf="nivelAccesibilidad != 'Texto' && nivelAccesibilidad != 'Audio'" [src]="imageOk" alt="Imagen indicando éxito" class="task-image"/>
            <span>GUARDAR COMANDA DE LA CLASE {{ aula }}</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="pagination-buttons">
    <ion-button class="custom-button" (click)="prevPage(tarea)" [attr.aria-label]="'Ir a la página anterior'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button class="custom-button" (click)="nextPage()" *ngIf="finTarea !== true" [attr.aria-label]="'Ir a la página siguiente'">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
