ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.task-image {
    width: 500px; /* Ancho fijo */
    height: 500px; /* Alto fijo */
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #ccc;
    height: 500px;
}

.task-text {
    font-size: 2em;
    margin-bottom: 20px; 
}

.finish-task-button {
    font-size: 2.5em; 
    padding: 20px;
    margin-top: 20px; 
    --background: #005682; 
    color: white;
    width: 100%; 
    max-width: 350px; 
    border-radius: 10px; 
}


.task-pictoText {
    font-size: 1.5rem;
    line-height: 2rem;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 150px; /* Espaciado entre los botones */
}

.custom-button {
    --background: #005682; /* Cambia el color de fondo */
    --color: #ffffff;      /* Cambia el color del texto y el icono */
    width: 200px;
    height: 50px;
}

ion-icon {
    font-size: 32px;
    color: white;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.task-video {
    width: 50%;
    border-radius: 10px;
    border: 5px solid #007bff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; /* Tamaño del botón */
    background: rgba(236, 8, 8, 0.87); /* Fondo semitransparente */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    z-index: 10; /* Asegura que el botón esté por encima del video */
    transition: opacity 0.3s ease;
}

.play-button.hidden {
    opacity: 0;
    pointer-events: none; /* Evita clics cuando está oculto */
}

.audio-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200%;
    margin: 20px;
    padding: 20px;
}

.audio-button {
    --background: transparent;
    border: none;
    width: 500px; /* Ancho fijo */
    height: 500px; /* Alto fijo */
    object-fit: cover;
}

.volume-icon {
    width: 500px; /* Ancho fijo */
    height: 500px; /* Alto fijo */
    object-fit: cover;
    color: #005682;
}