ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.profile-image-preview {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px;
    object-fit: cover; /* Hace que la imagen cubra el área sin distorsionarse */
    border-radius: 50%; /* Redondea los bordes para una apariencia de círculo */


}

ion-button {
    --background: #005682; /* Cambia el color de fondo */
    --color: #ffffff;      /* Cambia el color del texto y el icono */
}
  