<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-admin-profe"></ion-back-button> <!-- Ajusta la ruta si es necesario -->
    </ion-buttons>
    <ion-title>Asignar tarea a alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="cabecera">
    <ion-row>
      <ion-col>
        <ion-label class="cabecera-label">Tarea</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="cabecera-label">Alumno</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="cabecera-label">Accesibilidad</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="cabecera-label">Fecha</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Selecciona la tarea</ion-label>
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="filterTasks($event)"
          debounce="300"
          placeholder="Buscar tarea"
          show-clear-button="focus"
          clear-input="true">
        </ion-searchbar>

        <ion-list>
          <ion-item *ngFor="let task of filteredTasks">
            <ion-checkbox 
              justify="end" 
              alignment="end" 
              value="{{task}}" 
              (ionChange)="onSelectTask($event)">{{ task }}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Selecciona la alumno</ion-label>
          <ion-select [(ngModel)]="selectedStudent" interface="popover" (ionChange)="onSelectStudent($event)">
            <ion-select-option *ngFor="let student of studentNames" [value]="student">{{ student }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-checkbox 
              justify="start" 
              alignment="start" 
              value="texto" 
              (ionChange)="onCheckboxChange($event)"
              [checked]="selectedValueAcces.includes('texto')">Texto
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox 
              justify="start" 
              alignment="start" 
              value="pictograma" 
              (ionChange)="onCheckboxChange($event)"
              [checked]="selectedValueAcces.includes('pictograma')">Pictograma
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox 
              justify="start" 
              alignment="start" 
              value="imagen" 
              (ionChange)="onCheckboxChange($event)"
              [checked]="selectedValueAcces.includes('imagenes')">Imagen
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox 
              justify="start" 
              alignment="start" 
              value="video" 
              (ionChange)="onCheckboxChange($event)"
              [checked]="selectedValueAcces.includes('video')">Video
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox 
              justify="start" 
              alignment="start" 
              value="audio" 
              (ionChange)="onCheckboxChange($event)"
              [checked]="selectedValueAcces.includes('audio')">Audio
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
          <div>
            <ion-label>Fecha inicio</ion-label>
            <ion-datetime presentation="date-time" [preferWheel]="true" [(ngModel)]="dateInit" (ionChange)="onDateInitChange($event)" local="es-ES"></ion-datetime>
            <ion-label>Fecha fin</ion-label>
            <ion-datetime presentation="date-time" [preferWheel]="true" [(ngModel)]="dateEnd" (ionChange)="onDateEndChange($event)" local="es-ES"></ion-datetime>
            
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="save-button" id="open-toast" expand="full" (click)="guardarAsignacion()">Guardar</ion-button>
</ion-footer>