ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

p{
    margin-left: 3%;
    text-align: center;
}

ion-row, ion-col{
    justify-content: center;
}

.no-dot{
    list-style-type: none; /* Quita los puntos */
    padding: 0; /* Opcional: elimina el relleno izquierdo */
    margin: 0; /* Opcional: elimina el margen */
}

.pending-border{
    border: 2px black solid;
}

.accept{
    --background: green;
}

.decline{
    --background: red;
}

.inside-border{
    margin-left: 7%;
    margin-right: 10%;
}