<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-admin-profesor"></ion-back-button> <!-- Volver a la página anterior -->
    </ion-buttons>
    <ion-title>Historial Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>Puntuacion de {{this.user.nombre}}: {{this.puntuacion}}/{{this.puntuacionMax}}</h3>
  <div class="icon-container">
    <ion-icon *ngFor="let item of createRange(this.numEstrellasEnteras)" name="star"></ion-icon> <!--Pintar estrellas enteras-->
    <ion-icon *ngIf="this.mitadEstrella" name="star-half"></ion-icon> <!--Pintar estrella mitad-->
    <ion-icon *ngFor="let item of createRange(this.numEstrellasRestantes)" name="star-outline"></ion-icon> <!--Pintar estrellas vacias-->
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="col-title"><strong>Tareas completadas</strong></p>
        <ul class="no-dot"> <!-- Tareas pendientes -->
          <li class="pending-border" *ngFor="let pending of this.pendingTaskFinished; let i = index">
            <span class="inside-border">{{pending.nombreTarea}}</span>
            <ion-button (click)="gestionarTareaFinished(pending, i, true)" class="accept">Aceptar</ion-button>
            <ion-button (click)="gestionarTareaFinished(pending, i, false)" class="decline">Rechazar</ion-button>
          </li> 
        </ul>
        <ul class="no-dot"> <!-- Tareas completadas -->
          <li *ngFor="let finished of this.finishedTask">
            <p *ngIf="finished.completada == true" class="col-text">{{finished.nombreTarea}}</p>
          </li> 
        </ul>
      </ion-col>
      <ion-col>
        <p class="col-title"><strong>Tareas no completadas</strong></p>
        <ul class="no-dot"> <!-- Tareas no completadas -->
          <li *ngFor="let finished of this.finishedTask">
            <p *ngIf="finished.completada == false" class="col-text">{{finished.nombreTarea}}</p>
          </li> 
        </ul>
      </ion-col>
      <ion-col>
        <p class="col-title"><strong>Tareas asignadas</strong></p>
        <ul class="no-dot"> <!-- Tareas pendientes -->
          <li class="pending-border" *ngFor="let pending of this.pendingTaskUnfinished; let i = index">
            <span class="inside-border">{{pending.nombreTarea}}</span>
            <ion-button (click)="gestionarTareaUnfinished(pending, i, true)" class="accept">Posponer</ion-button>
            <ion-button (click)="gestionarTareaUnfinished(pending, i, false)" class="decline">Eliminar</ion-button>
          </li> 
        </ul>
        <ul class="no-dot"> <!-- Tareas asignadas -->
          <li *ngFor="let assigned of this.assignedTask">
            <p class="col-text">{{assigned.nombreTarea}}</p>
          </li> 
        </ul>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>