ion-toolbar {
    display: flex;
    justify-content: center;
}

ion-title {
    text-align: center; 
    width: 100%; 
    font-size: 24px;
    color: #005682;
}

.col-text {
    text-align: center;
    font-size: 25px;
}

.col-title {
    text-align: center;
    font-size: 35px;
}

ion-row, ion-col {
    justify-content: center;
}

ion-grid {
    margin: 20px 0;
}

.no-dot {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.pending-border {
    border: 2px solid #005682;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pending-border:hover {
    background-color: #005682;
}

.accept {
    --background: green;
    --color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.decline {
    --background: red;
    --color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.inside-border {
    margin-right: 10px;
    flex-grow: 1;
    text-align: left;
    color: #333; 
    font-size: 25px;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: #005682; 
    font-size: 50px;
    margin: 16px 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(219, 188, 9);
    margin-bottom: 20px;
}

ion-icon{
    font-size: 50px;
}