ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.task-item {
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 24px;
    color: #005682;
}

p {
    font-size: 16px;
}
