<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-list"></ion-back-button>
    </ion-buttons>
    <ion-row class="header-row">
      <ion-col size="auto">
        <ion-title class="title">AGENDA</ion-title>
      </ion-col>
      <ion-col size="auto" class="image-col">
        <img 
          [src]="previewAgenda" 
          alt="Pictograma de agenda" 
          class="tarea-preview-image" 
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="loading; else content">
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando tareas...</p>
    </div>
  </ng-container>

  <!-- Contenido principal -->
  <ng-template #content>
    <ng-container *ngIf="tareas && tareas.length > 0; else noTareas">
      <div class="tareas-container">
        <div (click)="realizarTarea(tarea)" class="tarea-card" *ngFor="let tarea of tareas; let i = index">
          <div class="tarea-content">
            <p class="tarea-title">TAREA {{ i + 1 }}: {{ tarea.nombre | uppercase }}</p>
          </div>
          <div class="tarea-image" *ngIf="nivelesAccesibilidad == 'Pictograma' || nivelesAccesibilidad == 'Imagen' || nivelesAccesibilidad == 'Video'" class="tarea-image">
            <ng-container *ngIf="tarea.imagen; else noImagen">
              <img 
                [src]="tarea.imagen" 
                alt="{{ tarea.nombre }}" 
                class="tarea-preview-image" 
              />
            </ng-container>
            <ng-template #noImagen>
              <p class="no-image">SIN IMAGEN</p>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noTareas>
      <div class="no-tareas">
        NO HAY TAREAS ASIGNADAS
      </div>
    </ng-template>
  </ng-template>
</ion-content>
