/* Variables de color y fuente */
:root {
    --font-family: 'Helvetica';
}

* {
    font-family: var(--font-family);
}

ion-toolbar {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

ion-title {
    text-align: center;
    /* Asegura que el texto esté centrado */
    width: 100%;
    /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 40px;
    color: #005682;
}

/* Fondo de contenido */
ion-content {
    background-color: #FFFFFF;
    padding: 150%;
}

ion-label {
    color: #005682;
    font-size: 150%;
}

/* Input y etiquetas */
ion-item {
  background: #FFFFFF;
  color: #005682;
  font-size: 100%;
}


.tareas-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre tarjetas */
  padding: 15px;
}

.tarea-card {
  display: flex;
  flex-direction: row; /* Alinear elementos en fila */
  align-items: center;
  background-color: white;
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 10px;
  width: 400%; /* Ocupa el ancho del contenedor */
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */
}

.tarea-info {
  flex: 2; /* La sección de texto ocupa más espacio */
  text-align: left;
  padding-right: 10px;
}

.tarea-title {
  font-size: 25px;
  font-weight: bold;
  color: #005682;
  margin: 0;
}

.tarea-image {
  flex: 1; /* La sección de imagen ocupa menos espacio */
  text-align: center;
}

.tarea-preview-image {
  width: 100px; /* Tamaño fijo de la imagen */
  height: auto;
  border-radius: 5px;
}

.no-image {
  font-style: italic;
  color: #005682;
}

.no-tareas {
  text-align: center;
  color: #005682;
  font-size: 25px;
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #005682;
}

.loading-spinner p {
  margin-top: 10px;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-right: 10px; /* Ajusta el espacio entre el título y la imagen */
}


.check-overlay {
  color: green;
  font-size: 100px; /* Ajusta el tamaño según sea necesario */
  pointer-events: none; /* Evita que interfiera con el clic en la imagen */
}

.image-col {
  display: flex;
  justify-content: center; /* Centra la imagen dentro de su columna */
}

.agenda-preview-image {
  max-height: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
  max-width: auto;
}



.cross-overlay {
  color: red;
  font-size: 100px; /* Ajusta el tamaño según sea necesario */
  pointer-events: none; /* Evita que interfiera con el clic en la imagen */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
