<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/user-list" 
        aria-label="Volver a la lista de usuarios">
      </ion-back-button>
    </ion-buttons>
    <ion-row class="header-row">
      <ion-col size="auto">
        <ion-title class="title" aria-label="Agenda">AGENDA</ion-title>
      </ion-col>
      <ion-col size="auto" class="image-col">
        <img 
          [src]="previewAgenda" 
          alt="Pictograma de agenda" 
          class="tarea-preview-image" 
          aria-describedby="agenda-image-desc"
        />
        <span id="agenda-image-desc" class="sr-only">
          Imagen que representa la agenda del usuario.
        </span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="loading; else content">
    <div class="loading-spinner">
      <ion-spinner name="crescent" aria-hidden="true"></ion-spinner>
      <p aria-live="polite">CARGANDO TAREAS...</p>
    </div>
  </ng-container>

  <!-- Contenido principal -->
  <ng-template #content>
    <ng-container *ngIf="tareas && tareas.length > 0; else noTareas">
      <div class="tareas-container">
        <div 
          (click)="realizarTareaPrincipal(tarea)" 
          class="tarea-card" 
          *ngFor="let tarea of tareas; let i = index" 
          role="button" 
          [attr.aria-label]="'Abrir tarea ' + (i + 1) + ': ' + tarea.nombre | uppercase"
          tabindex="0"
        >
          <div class="tarea-content">
            <p class="tarea-title">
              TAREA {{ i + 1 }}: {{ tarea.nombre | uppercase }}
            </p>
          </div>
          <div 
            *ngIf="nivelesAccesibilidad == 'Pictograma' || nivelesAccesibilidad == 'Imagen' || nivelesAccesibilidad == 'Video'" 
            class="tarea-image"
          >
            <ng-container *ngIf="tarea.imagen; else noImagen">
              <img 
                [src]="tarea.imagen" 
                alt="Imagen de previsualización de {{ tarea.nombre }}" 
                class="tarea-preview-image" 
              />
              <span id="imagen-tarea-{{i}}-desc" class="sr-only">
                Imagen de la tarea {{ tarea.nombre }}.
              </span>
            </ng-container>
            <ng-template #noImagen>
              <p class="no-image" aria-label="Sin imagen disponible">
                SIN IMAGEN
              </p>
            </ng-template>
          </div>
  
          <ion-icon 
            *ngIf="tarea.fechaFin && isPastEndTime(tarea.fechaFin)" 
            name="close-outline" 
            class="cross-overlay">
          </ion-icon>

          <ion-icon 
            *ngIf="isFinished(tarea)" 
            name="checkmark-outline" 
            class="check-overlay">
          </ion-icon>
        </div>
      </div>

      <div class="pagination-buttons">
        <ion-button 
          (click)="prevPage()" 
          *ngIf="currentPage > 1" 
          class="custom-button"
          aria-label="Página anterior">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button 
          (click)="nextPage()" 
          *ngIf="finTarea !== true && tareas.length > 4"
          class="custom-button"
          aria-label="Página siguiente">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ng-container>
  

    <ng-template #noTareas>
      <div class="no-tareas" aria-live="polite">
        NO HAY TAREAS ASIGNADAS
      </div>
    </ng-template>
  </ng-template>

</ion-content>
