ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

img{
    width: 25%;
    height: auto;
}

.numBox{
    border: 2px #005682 solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    font-size: 150%;
}

.numButton{
    border: 2px #005682 solid;
    color: #FFFFFF;
    background-color: #005682;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    font-size: 150%;
}

.Guardar{
    background-color: #005682;
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5%;
    font-size: 150%;
    margin-top: 4%;
    margin-left: 45%;
}

ion-row{
    border: 2px #005682 solid;
    margin-top: 4%;
    padding-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

span, p {
    color: #005682;
}