ion-toolbar {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
}

ion-title {
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
  font-size: 28px;
  color: #005682;
}

.menu-col {
  padding: 10px;
}

.menu-container {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin: 10px auto;
}

.menu-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.numButton {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: 2px #005682 solid;
  color: #FFFFFF;
  background-color: #005682;
}

.numBox {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 2px #005682 solid;
}

.guardar {
  --background: #005682;
  --color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 150%;
  margin-top: 4%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espaciado entre los botones */
}

.custom-button {
  --background: #005682; /* Cambia el color de fondo */
  --color: #ffffff;      /* Cambia el color del texto y el icono */
  width: 100px;
  height: 50px;
}


ion-icon {
  font-size: 50px;
}

  