<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/realizar-tarea-principal"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tarea.nombre | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="tipoTarea === 'tarea-comanda'"  style="text-align: center;">
    <ion-row *ngFor="let menu of menus; let i = index">
      <ion-col>
          <p style="font-size: 150%;">{{ menu.nombre | uppercase}}</p>
      </ion-col>
      <ion-col>
        <img [src]="menu.image.url" alt="Imagen de {{ menu.nombre | uppercase}}" class="menu-image" />
      </ion-col>
      <ion-col>
          <div class="menu-controls">
            <button class="numButton" (click)="decrementar(i)">-</button>
            <span class="numBox">{{ menu.num }}</span>
            <button class="numButton" (click)="aumentar(i)">+</button>
          </div>
      </ion-col>
      <ion-col>
        <img [src]="numberImages[menu.num]" alt="Imagen del numero {{ menu.num }}" class="menu-image" />
      </ion-col>
    </ion-row>


  </ion-grid>

  <div class="pagination-buttons">
    <ion-button class="custom-button" (click)="previousPage()" *ngIf="currentPage === 0 && maxPage > 0">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="custom-button" (click)="nextPage()" *ngIf="currentPage >= maxPage && maxPage > 0">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

  <ion-button expand="block" class="guardar" *ngIf="currentPage === maxPage" (click)="guardarSeleccion()">GUARDAR</ion-button>
</ion-content>
