ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 28px;
    color: #005682;
}

ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
    background-color: #005682;
    padding: 16px;
    border-radius: 18px;
}

ion-card-title {
    color: #fff;
    font-size: 28px; /* Tamaño del texto */
}

ion-card img {
    width: 100%;
    border-radius: 18px;
}

ion-icon {
    font-size: 50px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 32px; /* Espaciado entre los botones */
}

.custom-button {
    --background: #005682; /* Cambia el color de fondo */
    --color: #ffffff;      /* Cambia el color del texto y el icono */
    width: 100px;
    height: 50px;
}

.custom-button[disabled] {
    --background: #cccccc; /* Color de fondo para el botón deshabilitado */
    --color: #666666;      /* Color del texto e icono para el botón deshabilitado */
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-right: 10px; /* Ajusta el espacio entre el título y la imagen */
}

.image-col {
    display: flex;
    justify-content: center; /* Centra la imagen dentro de su columna */
}

.user-preview-image {
    max-height: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    max-width: auto;
}