<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [attr.aria-label]="'Volver a la página principal'"></ion-back-button>
    </ion-buttons>
    <ion-row class="header-row">
      <ion-col size="auto">
        <ion-title class="title" [attr.aria-label]="'Usuarios, sección de usuarios'">USUARIOS</ion-title>
      </ion-col>
      <ion-col size="auto" class="image-col">
        <img 
          [src]="previewUserGirl" 
          alt="Pictograma de usuario niña" 
          class="user-preview-image"
          [attr.aria-label]="'Pictograma de usuario niña'" 
        />
      </ion-col>
      <ion-col size="auto" class="image-col">
        <img 
          [src]="previewUserBoy" 
          alt="Pictograma de usuario niño" 
          class="user-preview-image" 
          [attr.aria-label]="'Pictograma de usuario niño'" 
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let user of paginatedUsers">
        <ion-card (click)="goToUserLogin(user)" [attr.aria-label]="'Ir al perfil de ' + user.nombre">
          <img [src]="user.foto" alt="Foto de lista de usuarios de {{ user.nombre }}" [attr.aria-label]="'Foto de perfil de ' + user.nombre"/>
          <ion-card-header>
            <ion-card-title>{{ user.nombre | uppercase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones de navegación -->
  <div class="pagination-buttons">
    <ion-button class="custom-button" (click)="previousPage()" *ngIf="currentPage >= 1 && maxPage > 0" [attr.aria-label]="'Página anterior'">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="custom-button" (click)="nextPage()" *ngIf="currentPage === 0 && maxPage > 0" [attr.aria-label]="'Página siguiente'">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
