ion-title{
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 34px;
    color: #005682;
    padding: 2%;
}