<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil-admin-profesor"></ion-back-button>
    </ion-buttons>
    <ion-title>PERFILES DE LOS USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="admin-profe-functions">
    <ion-col size="3">
      <ion-button class="asignar-tarea" (click)="asignarTarea()" expand="block">Asignar tarea a alumno</ion-button>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="2.4" *ngFor="let user of paginatedUsers">
      
        <ion-card (click)="historialTareas(user)" >
          <div class="card-image-container">
            <ion-badge class="card-badge">{{ user.notificacionesCount }}</ion-badge>
            <img [src]="user.foto" alt="{{ user.nombre }}" />
          </div>
          <ion-card-header>
            <ion-card-title>{{ user.nombre }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-button (click)="modificarUsuario(user.id)" expand="block">MODIFICAR </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones de navegación -->
  <div class="pagination-buttons">
    <ion-button class="custom-button" (click)="previousPage()" [disabled]="currentPage === 0">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="custom-button" (click)="nextPage()" [disabled]="currentPage >= maxPage">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>