ion-toolbar {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
  font-size: 24px;
  color: #005682;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  background-color: #005682;
  padding: 16px;
  border-radius: 18px;  
}

ion-card-title {
  color: #fff;
  font-size: 20px; /* Tamaño del texto */
}

ion-card img {
  width: 100%;
  border-radius: 18px;
}

ion-button {
  --background: #005682; /* Cambia el color de fondo */
  --color: #ffffff;      /* Cambia el color del texto y el icono */
  font-size: 20px;
}

ion-icon {
  font-size: 50px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espaciado entre los botones */
  margin-top: 100px;
}

.admin-profe-functions {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten si exceden el espacio */
  gap: 50px; /* Espaciado entre columnas */
}

.custom-button {
  --background: #005682; /* Cambia el color de fondo */
  --color: #ffffff;      /* Cambia el color del texto y el icono */
  width: 100px;
  height: 50px;
}

.custom-button[disabled] {
  --background: #cccccc; /* Color de fondo para el botón deshabilitado */
  --color: #666666;      /* Color del texto e icono para el botón deshabilitado */
}

.asignar-tarea {
  --background: #606a6e; /* Cambia el color de fondo */
  --color: #ffffff;      /* Cambia el color del texto y el icono */
}