ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}
  
ion-title {
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Ocupa el 100% del ancho para centrarse correctamente */
    font-size: 24px;
    color: #005682;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.task-image {
    max-width: 60%; /* Ajusta al 50% del ancho del contenedor */
    max-height: 250px; /* Altura máxima de 150px */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 150px; /* Espaciado entre los botones */
}

.custom-button {
    --background: #005682; /* Cambia el color de fondo */
    --color: #ffffff;      /* Cambia el color del texto y el icono */
    width: 200px;
    height: 50px;
}

ion-icon {
    font-size: 32px;
    color: white;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.task-video {
    width: 80%;
    border-radius: 10px;
    border: 5px solid #007bff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; /* Tamaño del botón */
    background: rgba(236, 8, 8, 0.87); /* Fondo semitransparente */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    z-index: 10; /* Asegura que el botón esté por encima del video */
    transition: opacity 0.3s ease;
}

.play-button.hidden {
    opacity: 0;
    pointer-events: none; /* Evita clics cuando está oculto */
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.custom-button {
    margin: 0 5px;
}

.aula-button {
    font-size: 100px;
    padding: 20px;
    margin: 20px;
    text-transform: uppercase;
    --background: #005682;
    width: 100%;
    height: 150%;
}

.aula-button-col {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
  