<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>INDEPAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button class="admin-button" (click)="goToAdminLogin()" shape="round">
    ADMIN/PROFESORES
  </ion-button>

  <div class="center-button">
    <ion-button class="user-button" (click)="goToUserLogin()" shape="round" expand="full">
      <div class="button-content">
        <img [src]="imagen" alt="Estudiante" class="imagen-estudiante">
        <p>ESTUDIANTES</p>
      </div>
    </ion-button>
  </div>   
</ion-content>
