<ion-header>
  <ion-toolbar>
    <ion-title>
      Eliminar Menu Comida
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid style="text-align: center; margin-top: 5%;">
    <!--Estructura de columna: Menu-Pictograma-BotonEliminar -->
    <ion-row *ngFor="let menu of menus; let i = index">
      <ion-col><p>{{ menu.name }}</p></ion-col>
      <ion-col><img [src]='menu.img' alt="Imagen de elemento {{menu.name}}"></ion-col>
      <ion-col style="margin-left: 10%;"><button (click)="eliminarMenu(menu.id, i)">Eliminar</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>