/* Variables de color y fuente */
:root {
    --font-family: 'Helvetica';
}

* {
    font-family: var(--font-family);
}

/* Estilo del encabezado */
ion-header {
    background-color: #ffffff;
    color: #005682;
}

/* Botones del encabezado */
ion-button {
    color: #FFFFFF;
}
  
ion-icon {  // iconos flecha y usuario del encabezado
    color: #005682;
}
  
ion-icon.icon-add { // icono + de boton añadir material
    color: #FFFFFF;
}

/* Estilo del título de la tarea */
ion-title {
    font-size: 150%;
    color: #005682;
    text-align: center;
}

/* Estilo del título de las columnas */
.column-header {
    color: #005682;
    font-size: 200%;
}

/* Fondo de contenido */
ion-content {
    background-color: #FFFFFF;
    padding: 150%;
}



/* Input y etiquetas */
ion-item {
    background: #FFFFFF;
    color: #005682;
    font-size: 100%;
}

ion-input {
    color: #005682;
    font-size: 150%;
}

input { 
    color: #005682;
    font-size: 150%;
}


/* Boton de añadir item */
ion-button.add-material-button {
    --background: #005682;
    color: #FFFFFF;
    border-radius: 10%;
    align-items: center;
}

/* Boton de guardar */
ion-button.save-button {
    --background: #005682;
    color: #FFFFFF;
    border-radius: 30%;
    align-items: right;
}
