<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/peticion-material"></ion-back-button> <!-- Ajusta la ruta si es necesario -->
    </ion-buttons>
    <ion-title>Tarea Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="top-element">
    <ion-input type="text" label="Ingresa el nombre de la tarea" label-placement="floating" [(ngModel)]="taskName"></ion-input>
  </ion-item>
  <ion-item class="top-element">
    <ion-input type="text" label="Ingresa el aula " label-placement="floating" [(ngModel)]="aula"></ion-input>
  </ion-item>
  <ion-item class="top-element">
    <ion-label>Foto de la tarea</ion-label>
    <div *ngIf="previewUrl">
      <img [src]="previewUrl" alt="Vista previa de la tarea" style="width: 100px; height: auto;" />
    </div>
    <input type="file" accept="image/*" (change)="imgTareaPreview($event)" />
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="column-header">Material</ion-col>
      <ion-col size="4" class="column-header">Características</ion-col>
      <ion-col size="3" class="column-header">Imagen</ion-col>
      <ion-col size="2" class="column-header">Cantidad</ion-col>
    </ion-row>
    
    <ion-row class="material" *ngFor="let item of items; let i = index">
      <ion-col size="2">
        <ion-item>
          <p>{{item.material}}</p>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-col size="2">
          <ion-item><strong>Tamaño: </strong></ion-item>
          <ion-item>
            <p *ngIf="item.tamanio == 'pequenio'">Pequeño</p>
            <p *ngIf="item.tamanio == 'mediano'">Mediano</p>
            <p *ngIf="item.tamanio == 'grande'">Grande</p>
          </ion-item>
          <ion-item>
            <div *ngIf="item.imgTam">
              <img [src]="item.imgTam" alt="Vista previa del tamanio del material" style="width: 100px; height: auto;" />
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item><strong>Color: </strong></ion-item>
          <ion-item>
            <p *ngIf="item.color == 'azul'">Azul</p>
            <p *ngIf="item.color == 'verde'">Verde</p>
            <p *ngIf="item.color == 'negro'">Negro</p>
            <p *ngIf="item.color == 'rojo'">Rojo</p>
            <p *ngIf="item.color == 'blanco'">Blanco</p>
            <p *ngIf="item.color == 'amarillo'">Amarillo</p>
            <p *ngIf="item.color == 'naranja'">Naranja</p>
            <p *ngIf="item.color == 'rosa'">Rosa</p>
            <p *ngIf="item.color == 'marron'">Marron</p>
            <p *ngIf="item.color == ''">Ningun color seleccionado</p>
          </ion-item>
          <ion-item>
            <div *ngIf="item.imgColor">
              <img [src]="item.imgColor" alt="Vista previa del color del material" style="width: 100px; height: auto;" />
            </div>
          </ion-item>
        </ion-col>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <div *ngIf="item.imagen">
            <img [src]="item.imagen" alt="Vista previa de material {{i + 1}}" style="width: 100px; height: auto;"/>
          </div>
          <input type="file" accept="image/*" (change)="imagenPreview($event, i)" class="small-file-input"/>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <p>{{item.cantidad}}</p>
        </ion-item>
        <ion-item>
          <div *ngIf="item.imgCantidad" (ngModelChange)="onCantidadChange(i)">
            <img [src]="item.imgCantidad" alt="Vista previa de la cantidad del material" style="width: 100px; height: auto;" />
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="save-button" expand="full" (click)="save()">Guardar</ion-button>
</ion-footer>